* {
    scroll-behavior: smooth;
  }
  
.d-flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 .sticky-section {
    position: sticky;
    top: 80px;
    z-index: 9;
    background: #fff;
    box-shadow: 0px 2px 0px rgba(23, 162, 184, 0.5);
 }
 li{
    list-style-type: none;
 }
  .footer-section {
     text-align: center;     
   }
   .footer-icon {
     margin: 10px 10px;
   }
     .footer-section :hover {
       text-decoration: none; 
     }
   .footer-img {
     width: 10%;   
   }
.container-fluid{
    width: 100%;  
    padding: 9% 15% 0%;
  }
  
